<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semicolon</title>
    <link rel="stylesheet" href="/static/styles/conteudos.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.png">
</head>
<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/sobrenos">Sobre nós</a>
            <a href="/produtos">Produtos e serviços</a>
            <a href="/conteudos">Conteúdos</a>
        </nav>
    </header>

    <img src="/static/assets/logo_semicolon.png" alt="">

    <h1>Conteúdos da <i>Semicolon</i></h1>

    <div class="tesouro">
        <img src="/static/assets/tesouro.png" alt="">
        <a href="/tesouro">Tudo o Que Você Precisa Saber Sobre Tesouro Direto</a>
    </div>

    <div class="cdb">
        <img src="/static/assets/cdb.png" alt="">
        <a href="/cdb">CDB: Segurança e Rentabilidade Para o Seu Dinheiro</a>
    </div>


    <div class="acoes">
        <img src="/static/assets/acoes.png" alt="">
        <a href="/acoes">Ações: Como Participar do Crescimento das Grandes Empresas</a>
    </div>

    <hr>

    <h1 class="investimento">Investimento</h1>
    
    <div class="porque">
        <h3>Por Que Você Deve Começar a Investir Hoje?</h3>
        <p>Sabia que o tempo é o maior aliado do seu dinheiro? Descubra como começar
            a investir pode transformar pequenas economias em grandes conquistas, mesmo com aportes modestos.
        </p>
    </div>

    <div class="termos">
        <h3>Termos de Investimentos Que Todo Iniciante Precisa Saber</h3>
        <p>CDI, IPCA, diversificação... Se esses termos parecem um enigma, este artigo é para você! Aprenda
            os conceitos essenciais para dar os primeiros passos no mundo dos investimentos.
        </p>
    </div>

    <div class="prioridade">
        <h3> Investir ou Pagar Dívidas: Qual Deve Ser Sua Prioridade?</h3>
        <p>Está em dúvida entre começar a investir ou quitar dívidas? Este guia prático te ajuda a decidir
            o que faz mais sentido para o seu momento financeiro.
        </p>
    </div>

    <div class="estrategias">
        <h3>Estratégias de Investimento Para Quem Está Começando</h3>
        <p>Quer investir com segurança? Conheça estratégias simples e eficazes para começar sua jornada
            financeira com o pé direito.
        </p>
    </div>

</body>
<footer>
    <img src="/static/assets/logo_rodapé.png" alt="">

    <div>
        <p class="infos">Endereço: Avenida dos Investidores, 123 - São Paulo, SP <br>
            Telefone: (11) 98765-4321 <br>
            E-mail: semicolon@gmail.com <br>
        </p>
        
        <p class="direitos">&copy; 2024 Semicolon. Todos os direitos reservados.</p>
    </div>

    <div class="vertical-line"></div>

    <ul class="link-list">
        <h2>Links Rápidos</h2>
        <li> <a href="/">Início</a> </li>
        <li> <a href="/sobrenos">Sobre Nós</a> </li>
        <li> <a href="/produto">Produtos e Serviços</a> </li>
        <li> <a href="/conteudos">Conteúdos</a> </li>
    </div>
</footer>

</html>