<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semicolon</title>
    <link rel="stylesheet" href="/static/styles/produtos.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.png">

</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/sobrenos">Sobre nós</a>
        <a href="/produtos">Produtos e serviços</a>
        <a href="/conteudos">Conteúdos</a>
    </nav>

    <img src="/static/assets/logo_semicolon.png" alt="">

    <div class="titulo">
        <h1>Conheça os serviços da Semicolon</h1>
        <h2>Descubra como nossas soluções podem te ajudar a planejar, investir e alcançar seus objetivos.
    </div>

    <div class="comparador">
        <h3>Comparador de investimentos</h3>
        <p><i>Encontre as melhores opções para o seu perfil.</i>
            Compare diferentes produtos financeiros, como CDBs, Tesouro Direto, e ações, com base em taxas,
            rendimentos e riscos. A ferramenta ideal para quem quer tomar decisões informadas.
        </p>
        <a href="/simulacao">Compare agora</a>
    </div>

    <div class="educacao">
        <h3>Educação Financeira</h3>
        <p>Conhecimento é o maior investimento.
            Oferecemos conteúdos exclusivos para te ajudar a entender o mercado financeiro. Desde artigos
            para iniciantes até estratégias avançadas, nosso objetivo é transformar você em um investidor
            confiante.
        </p>
        <a href="/conteudos">Veja nossos artigos</a>
    </div>

    <div class="atendimento">
        <h3>Atendimento Especializado</h3>
        <p>Estamos aqui para te ajudar.
            Nossa equipe de suporte está sempre pronta para responder às suas dúvidas e te orientar em sua
            jornada de investimentos. Atendimento humano e personalizado, porque entendemos que cada
            investidor é único.
        </p>

    </div>

</body>
<footer>
    <img src="/static/assets/logo_rodapé.png" alt="">

    <div>
        <p class="infos">Endereço: Avenida dos Investidores, 123 - São Paulo, SP <br>
            Telefone: (11) 98765-4321 <br>
            E-mail: semicolon@gmail.com <br>
        </p>
        
        <p class="direitos">&copy; 2024 Semicolon. Todos os direitos reservados.</p>
    </div>

    <div class="vertical-line"></div>

    <ul class="link-list">
        <h2>Links Rápidos</h2>
        <li> <a href="/">Início</a> </li>
        <li> <a href="/sobrenos">Sobre Nós</a> </li>
        <li> <a href="/produto">Produtos e Serviços</a> </li>
        <li> <a href="/conteudos">Conteúdos</a> </li>
    </div>
</footer>
</html>