<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semicolon</title>
    <link rel="stylesheet" href="/static/styles/simulação.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.png">
</head>
<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/sobrenos">Sobre nós</a>
            <a href="/produtos">Produtos e serviços</a>
            <a href="/conteudos">Conteúdos</a>
        </nav>
    </header>

    <img src="/static/assets/logo_semicolon.png" alt="" >
    <img class="foto_1" src="/static/assets/foto_1_simulacao.png" alt="">

    <div class="container">
        <h2>Descubra seu <i>potencial financeiro:</i><br> simule seus investimentos aqui!</h2>
        <form action="/simulacao" method="post">

            <div class="tipo">
                <label for="tipo_investimento"><i>Tipo de Investimento:</i></label>
                <select id="tipo_investimento" name="tipo_investimento" required>
                    <option value="">Selecione</option>
                    <option value="cdb" {% if tipo_investimento == 'cdb' %}selected{% endif %}>CDB</option>
                    <option value="tesouro_direto" {% if tipo_investimento == 'tesouro_direto' %}selected{% endif %}>Tesouro Direto</option>
                    <option value="acoes" {% if tipo_investimento == 'acoes' %}selected{% endif %}>Ações</option>
                </select><br>
            </div>

            <div class="taxa">
                <label for="taxa_juros"></label>
                <input type="text" name="taxa_juros" id="taxa_juros" value="{{ taxa_juros or '' }}" readonly placeholder=" Taxa de Juros (% ao mês):"><br>
            </div>

            <div class="valor">
                <label for="valor_inicial"></label>
                <input type="number" name="valor_inicial" id="valor_inicial" value="{{ valor_inicial or '' }}" required placeholder="Valor Inicial:"><br>
            </div>

            <div class="periodo">
                <label for="periodo"></label>
                <input type="number" name="periodo" id="periodo" value="{{ periodo or '' }}" placeholder="Período (meses):" required><br>
            </div>

            <button type="submit">Simular</button>
        
        </form>
    </div>

    {% if resultado %}
        <h2 class="resultado">{{ resultado }}</h2>
    {% endif %}
</body>

<footer>
    <img src="/static/assets/logo_rodapé.png" alt="">

    <div>
        <p class="infos">Endereço: Avenida dos Investidores, 123 - São Paulo, SP <br>
            Telefone: (11) 98765-4321 <br>
            E-mail: semicolon@gmail.com <br>
        </p>
        
        <p class="direitos">&copy; 2024 Semicolon. Todos os direitos reservados.</p>
    </div>

    <div class="vertical-line"></div>

    <ul class="link-list">
        <h2>Links Rápidos</h2>
        <li> <a href="/">Início</a> </li>
        <li> <a href="/sobrenos">Sobre Nós</a> </li>
        <li> <a href="/produto">Produtos e Serviços</a> </li>
        <li> <a href="/conteudos">Conteúdos</a> </li>
    </div>
</footer>
</html>