<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semicolon</title>
    <link rel="stylesheet" href="/static/styles/tesouro.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.png">

</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/sobrenos">Sobre nós</a>
        <a href="/produtos">Produtos e serviços</a>
        <a href="/conteudos">Conteúdos</a>
    </nav>

    <img src="/static/assets/logo_semicolon.png" alt="">

    <h1 class="titulo">Tudo o Que Você Precisa Saber Sobre Tesouro Direto</h1>
    <h3 class="subtitulo">Seguro, acessível e lucrativo. Descubra por que o
        Tesouro Direto é uma das melhores opções para quem está
        começando a investir.
    </h3>
    
    <p class="texto_1">Se você está começando a investir e busca uma opção segura e simples, o Tesouro Direto
        pode ser a escolha perfeita. Criado pelo Governo Federal em 2002, o programa permite
        que qualquer pessoa compre títulos públicos pela internet, com valores iniciais acessíveis
        e retornos atrativos. Vamos explorar os principais pontos para entender por que o Tesouro
    </p>

    <img class="foto_1" src="/static/assets/foto_tesouro.png" alt="">
    
    <h2 class="titulo_2">O Que é Tesouro Direto?</h2>
    <p class="texto_2">O Tesouro Direto é um programa desenvolvido pelo Tesouro Nacional em parceria com a B3 (Bolsa
        de Valores do Brasil). Seu objetivo principal é democratizar o acesso aos títulos públicos,
        permitindo que pessoas físicas, ou seja, cidadãos comuns, possam investir diretamente no governo
        federal. Essa iniciativa rompeu a barreira que existia no passado, onde apenas grandes instituições
        financeiras tinham acesso a esse tipo de investimento.
        <br>
        Funciona como um empréstimo: você empresta dinheiro ao governo federal para que ele possa financiar
        suas atividades, como obras de infraestrutura, saúde, educação e outros setores essenciais. Em troca,
        o governo paga juros sobre o valor investido, tornando-se uma forma de o investidor lucrar enquanto
        apoia o desenvolvimento do país.</p>

        <h2 class="titulo_3">Por que Investir no Tesouro Direto?</h2>
        <div class="texto_3">
            <p>Investir no Tesouro Direto oferece diversos benefícios, que o tornam uma das melhores opções para
                iniciantes e também para investidores mais experientes. <br>
            <li><strong>Segurança:</strong> Os títulos públicos são considerados o investimento mais seguro do
                Brasil, pois são garantidos pelo Governo Federal. Isso significa que, mesmo em cenários de instabilidade
                econômica, a probabilidade de calote é extremamente baixa.</li>

            <li><strong>Acessibilidade: </strong>Com valores mínimos a partir de R$ 30, qualquer pessoa pode começar a
                investir. Essa característica permite que o Tesouro Direto seja uma opção viável mesmo para quem está
                começando com pouco dinheiro.</li>

            <li><strong>Liquidez: </strong>Diferente de outros tipos de investimento, os títulos do Tesouro Direto podem
                ser vendidos a qualquer momento, e o dinheiro é disponibilizado em sua conta em até um dia útil. Essa
                flexibilidade é especialmente útil para quem precisa de acesso rápido aos recursos.</li>

            <li><strong>Diversidade de opções: </strong>O Tesouro Direto oferece diferentes tipos de títulos para atender
                a objetivos variados, como a formação de uma reserva de emergência, a realização de sonhos no médio prazo
                ou o planejamento para a aposentadoria.</li>

            </p>
        </div>

        <h2 class="titulo_4">Tipos de títulos do Tesouro Direto</h2>
        <p class="texto_4"><strong>Tesouro Selic:</strong>É o título mais indicado para quem deseja criar uma reserva de emergência,
            pois acompanha a taxa básica de juros da economia, a Selic. Sua principal vantagem é a estabilidade: mesmo
            com oscilações no mercado, ele não apresenta variações negativas, o que o torna ideal para objetivos de curto prazo. <br>

            <strong>Tesouro Prefixado: </strong>Esse título tem uma taxa de rentabilidade fixa, definida no momento da compra. É
            recomendado para quem deseja saber exatamente quanto receberá no vencimento do título. Por exemplo, pode ser usado
            para planejar o pagamento de uma viagem ou outro objetivo com data certa. <br>

            <strong>Tesouro IPCA+: </strong>Composto por uma taxa fixa mais a variação do IPCA (Índice de Preços ao Consumidor
            Amplo), esse título protege o poder de compra do dinheiro contra a inflação. É ideal para objetivos de longo prazo,
            como aposentadoria, pois garante que o retorno sempre estará acima da inflação.

        </p>

        <h2 class="titulo_5">Como investir no Tesouro Direto?</h2>
        <p class="texto_5"><strong>Abra uma conta em uma corretora: </strong>Escolha uma instituição financeira autorizada pelo Tesouro Nacional.
            Existem várias corretoras no mercado, algumas inclusive isentam taxas para o Tesouro Direto. <br>

            <strong>Escolha o título ideal: </strong> Antes de investir, defina seus objetivos financeiros. Você está formando uma
            reserva de emergência? Planejando algo a médio prazo? Ou pensando no futuro, como aposentadoria? Identifique o título
            que melhor atende a essas metas. <br>

            <strong>Realize a aplicação: </strong> Com a conta aberta e o objetivo definido, acesse a plataforma do Tesouro Direto,
            escolha o título e o valor que deseja investir. Em poucos cliques, sua aplicação estará concluída. <br>

            <strong>Acompanhe seu investimento: </strong> A plataforma permite que você monitore seus rendimentos em tempo real. Além
            disso, é possível reinvestir os ganhos para aumentar seus retornos.

        </p>

        <h2 class="titulo_6">Vale a pena investir no Tesouro Direto?</h2>
        <p class="texto_6">Definitivamente! Para quem busca um investimento seguro, acessível e com boas perspectivas de retorno, o Tesouro Direto é uma
            excelente escolha. Ele é especialmente recomendado para iniciantes, mas também é amplamente utilizado por investidores experientes
            que desejam diversificar suas carteiras. <br>

            Com sua combinação de segurança, flexibilidade e rentabilidade, o Tesouro Direto é uma ferramenta indispensável para quem deseja
            alcançar a liberdade financeira e garantir um futuro tranquilo.</p>

    </div>
    
    
</body>
<footer>
    <img src="/static/assets/logo_rodapé.png" alt="">

    <div>
        <p class="infos">Endereço: Avenida dos Investidores, 123 - São Paulo, SP <br>
            Telefone: (11) 98765-4321 <br>
            E-mail: semicolon@gmail.com <br>
        </p>
        
        <p class="direitos">&copy; 2024 Semicolon. Todos os direitos reservados.</p>
    </div>

    <div class="vertical-line"></div>

    <ul class="link-list">
        <h2>Links Rápidos</h2>
        <li> <a href="/">Início</a> </li>
        <li> <a href="/sobrenos">Sobre Nós</a> </li>
        <li> <a href="/produto">Produtos e Serviços</a> </li>
        <li> <a href="/conteudos">Conteúdos</a> </li>
    </div>
</footer>
</html>